body {
    background-image: linear-gradient(to right bottom, #c43b00, #ce4a00, #d75800, #e06502, #e97305, #ee7e09, #f28a0f, #f69516, #f7a01e, #f9ab27, #fab630, #fbc13a);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    background-attachment: fixed;
}

.navbar {
    background-color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.172) !important;
    color: rgb(15, 15, 15) !important;
    margin-bottom: 5%;
}

.container {
    display: grid;
}

.inicial{
    display: flex;
}

.carousel {
    margin: 0 0 5% 9% !important;
}

.carousel-inner .carousel-item img {
    width: 440px; 
    height: 440px; 
    object-fit: cover; 
}

.bemvindo {
    color: white;
    text-align: justify;
    margin: 5% 9% 0 2%;
}

.opcoes{
    padding: 4% 9% 0 9%;
    display: flex;
    justify-content: space-around;
}

.card{
    margin-right: 1% !important;
    background-color:  #ffffffe2 !important;
    backdrop-filter: blur(2px) !important;
}

a{
    text-decoration: none !important;
}

h1{
    color: white !important;
    padding: 0 0 0 9%;
}

.sobre {
    padding: 3% 9% 0 9%;
    text-align: justify;
    backdrop-filter: blur(2px);
    font-size: 100%;
    color: white;
}

footer{
    background-color: white;
    padding: 1%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    position: absolute;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.172);
}

.icone{
    margin-left:25px;
    cursor: pointer;
}

@media (max-width: 768px) { 
    .carousel {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 0 auto !important;
    }

    .bemvindo{
        margin: 0 auto;
        font-size: 0;
    }

    .opcoes{

        display: block;  
    }
    .card{
        width: 100% !important;

    }
    footer{
        padding: 3%;
    }
}

/*css da pag unidades*/

.unidades {
    background-color: #ffffffe2;
    font-family: Impact, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    color: rgb(24, 24, 24);
    padding: 1%;
}

.titulo{
    color: #ffffff;
}

.descUnidades{
    font-size: 18px;
    color: black;
}

.fotound{
    width: 220px;
    height: 200px;
    border-radius: 5px;
    margin-top: 1%;
}